@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --dark-blue-300: #0A3871;
    --light-blue-200: #EFF1FA;
    --light-blue-300: #E9ECF8;
    --gray-400: #495057;
}

* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    background-color: #F3F5FC;
}

.cabecalho {
    padding-top: 2%;
    padding-left: 2%;
}

/* CONTEÚDO PRINCIPAL */
main {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 5rem;

    margin-right: 2%;
    margin-bottom: 3%;
}

/* SECTION PROCESSO */

.processo {
    width: 50%;
    padding-top: 5rem;
}

/* Campo de texto */
.processo__entrada-de-texto {
    height: 60%;
}

/* Entrada do texto */
#caixa_texto {
    background-color: #F3F5FC;

    height: 30rem;
    width: 85%;

    resize: none;
    outline: none;
    border: none;

    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    color: var(--dark-blue-300);
}

#caixa_texto::placeholder {
    color: var(--dark-blue-300);
    font-family: "Inter", sans-serif;
    font-size: 2rem;
    font-weight: 400;
}

.processo__aviso {
    padding-top: 7.5rem;

    display: flex;
    gap: 0.5rem;
}

.processo__aviso p {
    font-family: "Inter", sans-serif;
    font-size: 0.75rem;
    font-weight: 400;

    color: var(--gray-400);
}

.processo__botoes {
    margin-top: 1rem;
    display: flex;
    gap: 1.5rem;

    text-align: center;
}

.processo__botoes__criptografia {
    height: 4rem;
    width: 55%;

    background-color: var(--dark-blue-300);

    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: white;

    border: none;
    border-radius: 24px;
}

.processo__botoes__descriptografia {
    height: 4rem;
    width: 52%;

    background-color: #D8DFE8;

    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--dark-blue-300);

    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
}

/* SECTION RESULTADO */

.resultado {

    width: 20%;

    background-color: white;
    border-radius: 32px;

    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;

    margin-right: 7rem;
    padding: 3%;
}

#resultado__processo {
    height: 100%;

    display: none;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#resultado__processo__texto {
    height: 84%;
    width: 100%;

    background-color: white;
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--gray-400);

    resize: none;
    outline: none;
    border: none;
}

.resultado__processo__botao-copiar {
    height: 4rem;
    width: 67%;

    background-color: white;

    text-align: center;

    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-decoration: none;
    color: var(--dark-blue-300);

    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
}

.resultado__processo__botao-copiar:hover {
    background-color: #D8DFE8;
}

#resultado__procura {
    padding-top: 45%;
}

.resultado__procura__texto {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resultado__procura__texto__titulo {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
}

.resultado__procura__texto__paragrafo {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
}

.rodape {
    background-color: var(--light-blue-300);

    font-family: "Inter", sans-serif;
    font-size: 1rem;
    font-weight: 400;
    color: var(--dark-blue-300);

    display: flex;
    justify-content: center;
    text-align: center;

    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

@media (max-width: 1320px) {
    main {
        margin: 0;
        margin-bottom: 2%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;


    }

    .processo {
        width: 80%;
    }

    #caixa_texto {
        width: 100%;
    }

    .processo__aviso {
        padding-top: 4%;
    }

    .resultado {
        margin: 0;

        height: 15rem;
        width: 80%;
        justify-content: center;
    }

    #resultado__procura {
        padding-top: 0;
    }
}

@media  (max-width: 400px) {

    main {
        gap: 3rem;  
    }

    .processo__botoes {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .processo__botoes__criptografia, .processo__botoes__descriptografia {
        width: 100%;
    }
}